[run]
branch = True
relative_files = True

[paths]
sources = /app/src

[report]
exclude_lines =
    @abstractmethod
    @abc.abstractmethod

[xml]
output = /app/coverage/coverage.xml

[html]
directory = /app/htmlcov
